body{
    background-color: #070F2B;
}

#titulo{
    font-size: 48px;
    font-family: cursive;
    color: white;
    margin: 30px 30px 30px 30px;
}

#subtitulo{
    font-family: cursive;
    color: white;
    margin: 30px 30px 30px 30px;
}



.tarjeta-mokepon{

    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:2px transparent;
    border-radius: 15%;

}

.tarjeta-mokepon:hover{

    color:#1B1A55;
    border:2px solid #1B1A55;
    border-radius: 15%;
    background-color:#9290C3 ;
    cursor:pointer;

}

input:checked + label{
    zoom:110%;
    border-radius: 15%;
    border:2px solid #1B1A55;
    background-color:#9290C3 ;

}



#div-tarjetas{
    display:flex;
    gap:30px;

    gap: 100px;
    background: white;
    padding: 30px;
    border-radius: 100px; 
}

.imagen-mokepon{
    
    width:200px;
    height:200px;

}

#seleccionar-mascota{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    justify-content: center;
}

.inputsito{
    display:none;
}























